<?xml version="1.0"?>

<robot name="ground">
  
  <material name="li">
    <color rgba="1.0 1.0 1.0 0.5"/>
  </material>

  <link name="base"/>

  <link name="lid">
    <collision>
       <origin xyz="0 0 .0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.1 1.8"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 .0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.1 1.8"/>
      </geometry>
      <material name="li"/>
    </visual>
  </link>

  <joint name="jlid" type="fixed">
    <origin rpy="1.5707 0 0" xyz="0 0 0"/>
    <parent link="base"/>
    <child link="lid"/>
  </joint>
</robot>